.footer__contacts {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 40%;
  }
}
.social-network {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-bottom: 46px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.social-network__item,
.social-network__link {
  width: 32px;
  height: 32px;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}
.social-network__item:not(:last-child) {
  margin-right: 28px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 24px;
  }
}
.social-network__link {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $accessorial-text-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.social-network__icon {
  width: 20px;
  height: 20px;
  fill: $white-text-color;
}
.footer__address {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-bottom: 43px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.footer__address__text,
.footer__address__tel {
  font: {
    style: normal;
    weight: bold;
    size: 12px;
  }
  line-height: 1.83;

  text-align: right;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.02em;
  }
}
.footer__address__text {
  color: $primary-text-color;
}
.footer__address__tel {
  color: $accent-color;
}
