.footer__running-title {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid $underline-color;
}
.footer__running-title__text {
  width: 150px;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 25px;

  font-weight: bold;
  line-height: 1.5;

  text-align: center;

  color: $secondary-text-color;

  @media screen and (min-width: 768px) {
    width: 100%;
    padding-top: 29px;
    padding-bottom: 18px;

    line-height: 1.85;
    letter-spacing: 0.02em;
  }
}
