.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $accessorial-bg-color;
}
.footer__conteiner {
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }


  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    width: 768px;
    padding-left: 36px;
    padding-right: 36px;
  }

  @media screen and (min-width: 1200px) {
    width: 1280px;
    padding-left: 114px;
    padding-right: 114px;
    margin-right: auto;
    margin-left: auto;
  }
}
