header{
    position: relative;
}

.header-menu{
    position: absolute;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: space-between;


    width: 100%;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 768px) {
        padding-top: 37px;
        padding-left: 34px;
        padding-right: 34px;
    }

    @media screen and (min-width: 1200px) {
        padding-left: 46px;
        padding-right: 115px;
    }
}

.nav-wrap{
    display: flex;
    align-items: center;
}

.button-mobile-menu{
    display: inline-flex;
    outline: transparent;

    padding: 0;
    margin: 0;

    border: none;
    background-color: transparent;

    @media screen and (min-width: 1200px) {
        display: none;
    }

    &.is-open{
        position: absolute;
        z-index: 5;
        right: 20px;
        top: 23px;
    
        .icon-mobile-menu{
            display: none;
        }
        .icon-mobile-close{
            display: block;
        }
    }
}

.icon-mobile-close{
    display: none;
}

.navigation{
    display: none;

    @media screen and (max-width: 1199px) {
        &.is-open{
            position: absolute;
            top: 0;
            right: 0;
    
            display: flex;
            flex-direction: column;
            align-items: center;
    
            padding-top: 60px;
            width: 250px;
            height: 502px;
    
            background-color: $menu-bg-color;
        }   
    }

    @media screen and (min-width: 768px) {
        &.is-open{
            width: 254px;
            height: 1020px;    
        }
    }
    
    @media screen and (min-width: 1200px) {
        position: relative;

        display: flex;

        padding-top: 0;
        margin-right: 110px;
    }
}

.buy-btn{
    display: flex;
    align-items: center;
    justify-content: center;


    width: 209px;
    height: 44px;
    padding: 0;

    color: $accent-color;
    background: $primary-bg-color;
    border: none;
    border-radius: 22px;

    &:hover,
    &:focus,
    &:active{
        background: $hover-secondary-color;
    }
    @media screen and (min-width: 768px) {
        width: 186px;
    }
}

.btn-tablet{
    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.btn-desktop{
    width: 160px;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (max-width: 1199px) {
        margin: 0 0 0 30px;
    }
}

.buy-btn-icon{
    display: block;
    margin-left: 25px;
    width: 12px;
    height: 12px;
}

.site-nav-list{
    margin-top: 19px;

    font-weight: 700;
    color: $white-text-color;

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-top: 0;
    }
}

.site-nav-item{
    @media screen and (max-width: 1199px) {
        border-bottom: 1px solid #E18298;

        &:first-of-type{
            border-top: 1px solid #E18298;
        }
    }

    @media screen and (min-width: 1200px) {
        &:not(:last-child){
            margin-right: 35px;
        }
    }
}

.nav-link {
    display: block;

    width: 250px;
    height: 43px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 21px;

    line-height: 1.29;

    @media screen and (min-width: 768px) {
        padding-left: 24px;
        width: 254px;
    } 

    @media screen and (min-width: 1200px) {
        width: auto;
        padding-left: 0;

        font-size: 16px;
        line-height: 1.31;
    }

    &:hover,
    &:focus,
    &:active {
        color: $accent-color;
    }
}

.nav-link.current{
    color: $accent-color;
}