header{
    position: relative;
}

.header-menu{
    position: absolute;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

.button-mobile-menu{
    display: inline-flex;

    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;

    border: none;
    background-color: transparent;
}