.hero {
    position: relative;
    overflow: hidden;
    padding-top: 56px;
    height: 502px;
    background-color: $secondary-bg-color;
}
.hero__box {
    position: absolute;
    z-index: 2;
    top: 0%;
    width: 100%;
    height: 502px;
    background-image: 
    url(../images/mobile/header-icecream-mobile.png);
    background-size: 170px 410px; 
    background-repeat: no-repeat;
    background-position: top 92px right 32px;

    @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/mobile/header-icecream-mobile@2x.png);
        }
}
.hero__title {
    margin: 0;
    padding-top: 193px;
    padding-left: 20px;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: $white-text-color;
}
.hero__accent {
    font-size: 48px;
    line-height: 96.5%;
    color: $accent-color;
}
.hero__list {
    margin: 0;
    padding-left: 20px;
    display: inline-flex;
}
.hero__item {
    list-style: none;
}
.hero__item:not(:last-child) {
    margin-right: 8px;
}
.dark-button {
    width: 62px;
    height: 24px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    border-radius: 20px;
    border: none;
    color: $white-text-color;
    background: $accent-color;
}
.light-button {
    width: 83px;
    height: 24px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    border-radius: 20px;
    border: none;
    color: $accent-color;
    background: $primary-bg-color;
}
.dark-button:hover,
.dark-button:focus {
    background: $section-dots-color;
    cursor: pointer;
}
.light-button:hover,
.light-button:focus {
    background: $hover-secondary-color;
    cursor: pointer;
}

.ellipse {
    position: absolute;
    top: 83px;
    right: -62px;
    width: 345px;
    height: 345px;
    background: #FFA5BA;
    border-radius: 50%;
}