.prodaction{
padding-top: 125px;
padding-bottom: 97px;
background-color: $accessorial-bg-color;
}

.prodaction__title, .prodaction__title2{
margin-top: 0;
margin-bottom: 15px;

font-family: Titan One;
font-style: normal;
font-weight: normal;

text-align: center;
text-transform: uppercase;
}

.prodaction__title {
font-size: 18px;
line-height: 21px;
color: $accessorial-text-color;
}

.prodaction__title2 {

font-size: 34px;
line-height: 39px;
letter-spacing: 0.04em;
text-transform: uppercase;

color:  $accent-color;



// border: 1px solid #000000;
// text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.prodaction__text, .prodaction__text2 {
margin-top: 46px;
margin-left: 30px;
width: 220px;
font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 162%;

}

.prodaction__text{
color: $primary-text-color;
}

.prodaction__text2 {
color:  $secondary-text-color;

}

// .prodaction-button {

// }

.items {    
margin-top: 130px;
}
  

.item {
 margin-bottom: 38px;
}



.item-title {
    margin-top: 16px;
    margin-bottom: 0;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: $accent-color;
}

.item-text {
    margin-top: 16px;
    margin-bottom: 0;
    width: 230px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 170%;
    
    color: $primary-text-color;
    
}



