.comments-background {
  background-image: linear-gradient(
    $accessorial-bg-color 39px,
    rgb(254, 249, 251) 39px,
    rgb(254, 249, 251) 40px,
    transparent 40px,
    transparent 100%
  );
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      $accessorial-bg-color 100px,
      rgb(254, 249, 251) 100px,
      rgb(254, 249, 251) 101px,
      transparent 101px,
      transparent 100%
    );
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
      $accessorial-bg-color 156px,
      rgb(254, 249, 251) 156px,
      rgb(254, 249, 251) 157px,
      transparent 157px,
      transparent 100%
    );
  }
}

.comments__gallery {
  display: block;
  width: 100%;
  height: auto;

  margin-bottom: 80px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 121px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1280px;
    margin-bottom: 123px;
    margin-left: auto;
    margin-right: auto;
  }
}

.comments__testimonials {
  display: block;
  height: auto;
  margin-bottom: 29px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 19px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
  }
}

.comments__book {
  position: relative;
  z-index: -2;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  padding-top: 43px;
  padding-right: 66px;
  padding-bottom: 26px;
  padding-left: 57px;

  background-color: $comment-bg-color;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 620px;
    margin-bottom: 24px;
    padding-top: 30px;
    padding-right: 36px;
    padding-bottom: 28px;
    padding-left: 40px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 926px;
    margin-bottom: 15px;
    padding-top: 32px;
    padding-right: 54px;
    padding-bottom: 32px;
    padding-left: 50px;
  }
}

.comments__gradient {
  position: relative;
  z-index: -1;

  background-image: linear-gradient(
    180deg,
    #fafafa 48.15%,
    #e3e3e3 48.15%,
    #e3e3e3 50%,
    #fafafa 50%,
    #fafafa 98.15%,
    #e3e3e3 98.15%,
    #e3e3e3 100%
  );
  background-size: 54px 54px;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      180deg,
      #fafafa 48.33%,
      #e3e3e3 48.33%,
      #e3e3e3 50%,
      #fafafa 50%,
      #fafafa 98.33%,
      #e3e3e3 98.33%,
      #e3e3e3 100%
    );
    background-size: 60px 60px;
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
      180deg,
      #fafafa 48.28%,
      #e3e3e3 48.28%,
      #e3e3e3 50%,
      #fafafa 50%,
      #fafafa 98.28%,
      #e3e3e3 98.28%,
      #e3e3e3 100%
    );
    background-size: 58px 58px;
  }
}

.comments__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(31 / 12);
  /* or 31px 255% */

  text-align: center;

  color: $primary-text-color;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
    line-height: calc(30 / 14);
    /* or 30px 216%*/
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
    /* or 30px 186%*/
  }
}

.comments__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments__title-name {
  margin-top: 18px;
  margin-bottom: 30px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(26 / 14);
  /* or 26px 186%*/

  text-align: center;

  color: $primary-text-color;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 14px;
    margin-bottom: 35px;

    font-size: 16px;
    line-height: calc(30 / 16);
    /* or 30px 186%*/
  }

  @media screen and (min-width: 1200px) {
    margin-top: 15px;
    margin-bottom: 35px;

    font-size: 20px;
    line-height: calc(37 / 20);
    /* or 37px 186%*/
  }
}

.comments__quotes {
  position: absolute;
  top: -15px;
  left: 4px;
  z-index: -1;
  width: 54px;
  height: 40px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    top: 0;
    left: 0;
  }

  @media screen and (min-width: 1200px) {
    top: 0;
    left: 0;
  }
}

.comments__points {
  display: block;
  width: 32px;
  height: 4px;
}
