<section class="contacts-background">
  <div class="contacts">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <div class="contacts__card">
          <h3 class="contacts__title">Игорь Демьяненко</h3>
          <p class="contacts__text">Product Designer</p>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__card">
          <h3 class="contacts__title">Игорь Демьяненко</h3>
          <p class="contacts__text">Product Designer</p>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__card">
          <h3 class="contacts__title">Игорь Демьяненко</h3>
          <p class="contacts__text">Product Designer</p>
        </div>
      </li>
    </ul>
    <ul class="contacts__buttons list">
        <li class="contacts__buttons-item"><button class="button-contacts" type="button"></button></li>
        <li class="contacts__buttons-item"><button class="button-contacts" type="button"></button></li>
    </ul>
  </div>
</section>
