<section id="contacts" class="contacts-background">
  <div class="contacts">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list list">
      <li class="contacts__item">
        <div class="contacts__card">
          <h3 class="contacts__title">Cafe</h3>
          <div class="contacts__content">
            <span class="contacts__label">Chicago</span>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <ul class="schedule list">
              <li class="schedule__item">
                <span class="contacts__label">Monday - Friday</span>
                <p class="contacts__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="schedule__item">
                <span class="contacts__label">Saturday - Sunday</span>
                <p class="contacts__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <p class="contacts__contacts">
              <a href="tel:+380961111111">+61(0) 383 766 284</a>
              <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </p>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__card">
          <h3 class="contacts__title">Foodtrack</h3>
          <div class="contacts__content">
            <span class="contacts__label">Los Angeles</span>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <ul class="schedule list">
              <li class="schedule__item">
                <span class="contacts__label">Monday - Friday</span>
                <p class="contacts__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="schedule__item">
                <span class="contacts__label">Saturday - Sunday</span>
                <p class="contacts__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <p class="contacts__contacts">
              <a href="tel:+380961111111">+61(0) 383 766 284</a>
              <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </p>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__card">
          <h3 class="contacts__title">Cafe</h3>
          <div class="contacts__content">
            <span class="contacts__label">New York</span>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <ul class="schedule list">
              <li class="schedule__item">
                <span class="contacts__label">Monday - Friday</span>
                <p class="contacts__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="schedule__item">
                <span class="contacts__label">Saturday - Sunday</span>
                <p class="contacts__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <p class="contacts__contacts">
              <a href="tel:+380961111111">+61(0) 383 766 284</a>
              <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </p>
          </div>
        </div>
      </li>
    </ul>
    <ul class="contacts__button-list list">
      <li class="contacts__button-item">
        <button class="contacts__button button--dark" type="button">
          <div>
            <span>Our Locations</span>
            <svg width="10px" height="10px" class="contacts__icon">
              <use href="./images/icons/sprite.svg#icon-btn-arrow-white"></use>
            </svg>
          </div>
        </button>
      </li>
      <li class="contacts__button-item">
        <button class="contacts__button button--light" type="button">
          <div>
            <span>Franchise</span>
            <svg width="10px" height="10px" class="contacts__icon">
              <use href="./images/icons/sprite.svg#icon-btn-arrow"></use>
            </svg>
          </div>
        </button>
      </li>
    </ul>
  </div>
</section>
