<footer class="footer">
  <div class="footer__conteiner">
    <div class="footer__name">
      <h3 class="footer__name__title">HOMEMADE ICE CREAM MADE</h3>
      <p class="footer__name__text">WITH PASSION</p>
    </div>
    <div class="footer__contacts">
      <ul class="list social-network">
        <li class="social-network__item">
          <a href="https://github.com/" class="social-network__link">
            <svg class="social-network__icon">
              <use href="./images/icons/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="social-network__item">
          <a href="https://web.telegram.org/" class="social-network__link">
            <svg class="social-network__icon">
              <use href="./images/icons/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-network__item">
          <a href="https://ru-ru.facebook.com/" class="social-network__link">
            <svg class="social-network__icon">
              <use href="./images/icons/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="footer__address">
        <a href="tel:+61-0-383-766-284" class="footer__address__link"
          ><span class="footer__address__text">Feel free to contact</span>
          <span class="footer__address__tel">+61 (0) 383 766 284</span></a
        >
      </address>
    </div>
  </div>
  <div class="footer__running-title">
    <p class="footer__running-title__text">
      2019 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
