<section class="hero">
    <div class="hero__box">
        <h1 class="hero__title">ice cream <br> made with <br> <span class="hero__accent">passion</span></h1>
        <ul class="hero__list">
            <li class="hero__item">
                <button class="button dark-button" type="button">Products</button>
            </li>
            <li class="hero__item">
                <button class="button light-button" type="button">How it’s made?</button>
            </li>
        </ul>
    </div>
    <div class="ellipse"></div>

</section>