<div class="hero">
    <div class="hero__box">
        <h1 class="hero__title">ice cream <br> made with <br> <span class="hero__accent">passion</span></h1>
        <ul class="hero__list">
            <li class="hero__item">
                <button class="button dark-button" type="button">Products</button>
            </li>
            <li class="hero__item">
                <button class="button light-button" type="button">How it’s made?</button>
            </li>
        </ul>
    </div>
    <div class="ellipse"></div>
    <div class="hero__description">
        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button class="small-button" type="button">
            <svg class="small-button-arrow">
                <use href="./images/icons/sprite.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
    <div class="franchising">
        <p class="franchising__text"><span class="franchising__accent">16</span><br>cafes</p>
        <p class="franchising__text"><span class="franchising__accent">23</span><br>food trucks</p>
    </div>
</div>