<div class="header-menu">
    <a href="./index.html" class="logo">
        <picture>
            <source
                srcset="./images/mobile/logo-mobile.webp 1x, ./images/mobile/logo-mobile@2x.webp 2x"
                type="image/webp"
            />
            <img
                srcset="./images/mobile/logo-mobile.png 1x, ./images/mobile/logo-mobile@2x.png 2x"
                src="./images/mobile/logo-mobile.png"
                alt="logo"
            />
        </picture>
    </a>    

    <div class="nav-wrap">
        <button type="button" class="burger-button" aria-expanded="false" data-menu-button>
            <svg width="20" height="14" aria-label="mobile menu switch">
                <use href="./images/icons/sprite.svg#burger-icon" width="20" height="12" class="button-icon-menu"></use>
                <use href="./images/icons/sprite.svg#close-icon" width="14" height="14" class="button-icon-close"></use>
            </svg>
        </button>

        <div class="navigation" data-menu>
            <button type="button" class="header-button mobile-button">
                <span> Buy now</span>
                <svg width="9px" height="9px" class="header-button-icon">
                    <use href="./images/icons/sprite.svg#icon-btn-arrow"></use>
                </svg>
            </button>
    
            <nav class="site-nav">
                <ul class="site-nav-list list">
                    <li class="site-nav-item">
                        <a href="" class="item-link current">Home</a>
                    </li>
                    <li class="site-nav-item">
                        <a href="" class="item-link">About us</a>
                    </li>
                    <li class="site-nav-item">
                        <a href="" class="item-link">How it’s made?</a>
                    </li>
                    <li class="site-nav-item">
                        <a href="" class="item-link">Our products</a>
                    </li>
                    <li class="site-nav-item">
                        <a href="" class="item-link">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    
        <button type="button" class="header-button main-button">
            <span> Buy now</span>
            <svg width="9px" height="9px" class="header-button-icon">
                <use href="./images/icons/sprite.svg#icon-btn-arrow"></use>
            </svg>
        </button>
    </div>
</div>
