<section class="header-menu">
    <a href="./index.html" class="logo">
        <picture>
            <source
                srcset="./images/mobile/logo-mobile.webp 1x, ./images/mobile/logo-mobile@2x.webp 2x"
                type="image/webp"
            />
            <img
                srcset="./images/mobile/logo-mobile.png 1x, ./images/mobile/logo-mobile@2x.png 2x"
                src="./images/mobile/logo-mobile.png"
                alt="logo"
            />
        </picture>
    </a>

    <button type="button" class="button-mobile-menu" aria-expanded="false" data-menu-button>
        <svg width="20" height="20" aria-label="mobile menu switch">
            <use href="./images/icons/sprite.svg#burger-icon" class="icon-mobile-menu"></use>
            <use href="./images/icons/sprite.svg#close-icon" class="icon-mobile-close"></use>
        </svg>
    </button>
    <!-- <nav></nav> -->
</section>



