<section class="prodaction">
    <h3 class="">tradition and love</h3> 
    <h2>how it’s made?</h2>
    <img src="" alt="">
    <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
    <p>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
    Aliquam erat volutpat. Aenean accumsan.</p>
    <button></button>

    <ul>
        <li>
           <h2>721</h2> 
           <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li>
            <h2>16kg</h2> 
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li>
            <h2>84</h2>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p> 
        </li>
    </ul>
</section>
