<section class="products-section">
  <div class="container products-wrapper">
    <h2 class="products-title">
      <span class="title-text">100% natural</span> products
    </h2>
    <ul class="list products-list">
      <li class="products-item flexbox icecream-item">
        <div class="blok-absolut">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/icecream.webp    1x,
                ./images/desktop/icecream@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/icecream-tablet.webp    1x,
                ./images/tablet/icecream-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/mobile/icecream-mobile.webp    1x,
                ./images/mobile/icecream-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/icecream.png    1x,
                ./images/desktop/icecream@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/icecream-tablet.png    1x,
                ./images/tablet/icecream-tablet@2x.png 2x
              "
            />
            <img
              srcset="./images/mobile/icecream-mobile@2x.png 2x"
              src="./images/mobile/icecream-mobile.png"
              alt="icecream"
            />
          </picture>
        </div>
        <h3 class="cards-title">ice cream</h3>
        <svg class="points-icon">
          <use href="./images/icons/sprite.svg#points1"></use>
        </svg>
        <p class="products-paragraf">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <p class="products-paragraf is-hidden">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="arrow-button">
          <svg class="arrow-icon">
            <use href="./images/icons/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products-item flexbox icecoffee-item">
        <div class="blok-absolut">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/icecoffee.webp    1x,
                ./images/desktop/icecoffee@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/icecoffee-tablet.webp    1x,
                ./images/tablet/icecoffee-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/mobile/icecoffee-mobile.webp    1x,
                ./images/mobile/icecoffee-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/icecoffee.png    1x,
                ./images/desktop/icecoffee@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/icecoffee-tablet.png    1x,
                ./images/tablet/icecoffee-tablet@2x.png 2x
              "
            />
            <img
              srcset="./images/mobile/icecoffee-mobile@2x.png 2x"
              src="./images/mobile/icecoffee-mobile.png"
              alt="icecoffee"
            />
          </picture>
        </div>
        <h3 class="cards-title">ice coffee</h3>
        <svg class="points-icon">
          <use href="./images/icons/sprite.svg#points1"></use>
        </svg>
        <p class="products-paragraf">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <p class="products-paragraf is-hidden">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="arrow-button">
          <svg class="arrow-icon">
            <use href="./images/icons/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products-item flexbox milkshake-item">
        <div class="blok-absolut">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/milkshake.webp    1x,
                ./images/desktop/milkshake@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/milkshake-tablet.webp    1x,
                ./images/tablet/milkshake-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/mobile/milkshake-mobile.webp    1x,
                ./images/mobile/milkshake-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/desktop/milkshake.png    1x,
                ./images/desktop/milkshake@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/tablet/milkshake-tablet.png    1x,
                ./images/tablet/milkshake-tablet@2x.png 2x
              "
            />
            <img
              srcset="./images/mobile/milkshake-mobile@2x.png 2x"
              src="./images/mobile/milkshake-mobile.png"
              alt="milkshake"
            />
          </picture>
        </div>
        <h3 class="cards-title">milkshakes</h3>
        <svg class="points-icon">
          <use href="./images/icons/sprite.svg#points1"></use>
        </svg>
        <p class="products-paragraf">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <p class="products-paragraf is-hidden">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="arrow-button">
          <svg class="arrow-icon">
            <use href="./images/icons/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
