<section class="prodaction container">

    <h3 class="prodaction__title">tradition and love</h3> 
    <h2 class="prodaction__title2">how it’s made?</h2>
    <img class="cow" src="./images/mobile/cow-mobile.png" alt="cow-mobile" width="280px">
    <p class="prodaction__text"> Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
    <p class="prodaction__text2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
    Aliquam erat volutpat. Aenean accumsan.</p>
    <!-- <button class="prodaction-button" type="button"> Read more</button>  -->
    
    <ul class="items list">
        <li class="item">
            <img src="./images/desktop/icon-milk.png" alt="icon-milk" width="33px">
           <h2 class="item-title" >721</h2>  
         <p class="item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="item">
            <img src="./images/desktop/icon-fruit.png" alt="icon-fruit">
            <h2 class="item-title">16kg</h2> 
            <p  class="item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="item">
            <img src="./images/desktop/icon-health.png" alt="icon-health">
            <h2 class="item-title">84</h2>
            <p  class="item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p> 
        </li>
    </ul>
</section>
