<section class="production">

    <h3 class="production__title">tradition and love</h3> 
    <h2 class="production__title2">how it’s made?</h2>

    <picture>
      <source
        srcset="
          ./images/desktop/cow.webp    1x,
          ./images/desktop/cow@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/tablet/cow-tablet.webp    1x,
          ./images/tablet/cow-tablet@2x.webp 2x
        "
        type="image/webp"
        media="(max-width: 1199px)"
      />
      <source
        srcset="
          ./images/mobile/cow-mobile.webp    1x,
          ./images/mobile/cow-mobile@2x.webp 2x
        "
        type="image/webp"
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./images/desktop/cow.png    1x,
          ./images/desktop/cow@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/tablet/cow-tablet.png    1x,
          ./images/tablet/cow-tablet@2x.png 2x
        "
        media="(max-width: 1199px)"
      />
      <source
        srcset="./images/mobile/cow-mobile@2x.png 2x"
        media="(max-width: 767px)"
      />
      <img
        class="cow"
        src="./images/desktop/cow.png"
        alt="cow"
        width="516px"
      />
    </picture>
    
    <div class="text">
    <p class="production__text"> Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
    <p class="production__text2 ">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
    
        Aliquam erat volutpat. Aenean accumsan.</p>
     <button class="production-button" type="button"> Read more</button> 
     
    </div>
    
    <ul class="items list">
        <li class="item">
            <img src="./images/desktop/icon-milk.png" alt="icon-milk" width="33px">
           <h2 class="item-title" >721</h2>  
         <p class="item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="item">
            <img src="./images/desktop/icon-fruit.png" alt="icon-fruit">
            <h2 class="item-title">16kg</h2> 
            <p  class="item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="item">
            <img src="./images/desktop/icon-health.png" alt="icon-health">
            <h2 class="item-title">84</h2>
            <p  class="item-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p> 
        </li>
    </ul>
</section>